{% extends 'base.html' %}
{% load static %}

{% block css_stylesheet %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}">

{% endblock %}

{% block page_title %}
    Nick's Blog
{% endblock page_title %}

{% block content %}
{% include "blog/includes/header.html" %}
    <h1>Welcome</h1>
    <ul>
        {% for post in posts  %}
            {% include "blog/includes/post.html" with post=post %}
        {% endfor %}
        
      
    </ul>
{% endblock %}

